@charset "UTF-8";




@keyframes unfoldIn{
0%{
transform : scaleX(0) scaleY(0.005);
}
50%{
transform : scaleX(1) scaleY(0.005);}
100%{
transform : scaleY(1) scaleX(1);}
}
@keyframes zoomIn{
from{
transform : scale(0);}
to{
transform : scale(1);}}

@keyframes zoomOut{
from{
transform : scale(1);}
to{
transform : scale(0);}}

@keyframes unfoldOut{
0%{
transform : scale(1);}
50%{
transform : scaleX(1) scaleY(0.005);}
100%{
transform : scaleX(0) scaleY(0.005);}}


#loginmodal.modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: table-cell;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	transform : scale(0);
}

#loginmodal .modal-window {
	border-bottom: 1px solid transparent;
	background: rgba(0, 0, 0, 0);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 5px;
	border: 1px solid #2e322f;
	width: 420px;
	height: 620px;
	background-color: #ffffff;
	position: relative;
	top: 10px;
	padding: 10px;
	display : inline-block;
}

html.modal-active, body.modal-active {
	overflow: hidden;
}

#loginmodal .title h2 {
	display: inline;
}

#loginmodal .close-area {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	
	color: black;
}

#loginmodal.modal-overlay {
	display: none;
}

.logintb {
	clear: both;
	margin: 0 auto;
	text-align: center;
	width: 420px;
}

.logindiv {
	text-align: center;
	margin: 0 auto;
}

.loginId, .loginPw, .login_bt, .facebook_login_bt {
	width: 310px;
	height: 45px;
	border: 0.5px solid #e1e4e1;
}

.loginId{
	margin-top: 15px;
}

.loginPw{
	margin-top: 10px;
}


#alert_info{
	margin-left: 55px;
}


.loginmt {
	width: 17px;
	height: 17px;
}

input[type=button] {
	margin: 0px 0px -25px 0px;
}

input[type=submit] {
	margin: 0px 0px 10px 0px;
}

.login_text, .find_login {
	font-size: 12px;
	color: #8a8888;
}

.find_login{
	padding-left: 65px;
	padding-right: -35px;
}

.find_login{
	margin-right: 14px;
}

.register_question, .register_connect, .non_members_order {
	font-size: 11px;
}

.register_question {
	color: #8a8888;
}

.register_connect, .non_members_order {
	color: blue;
}

.title {
	margin-top: -20px;
}

.logo {
	margin-top: 12px;
}

.logos{
	width:180px;
	height: 52px;
	margin-left: 25px;
	margin-top: 10px;
}

.login_T{
	margin-left: 10px;
	font-size: 33pt;
	font-weight: 800;
}

.login_bt {
	height : spx;
	border-radius : 7px;
	background-color: #f8a578;
	color: white;
	font-size: 15px;
	font-weight : 30%;
	top: -18px;
}


#na_login{
	margin-top: 8px;
}


input.facebook_login_bt {
	background: url(../images/png/facebook_logo.png) no-repeat;
	background-color: #3B5998;
	background-size: 30px 30px;
	font-size: 18px;
	color: white;
	background-position: 5px 5px;
}

.modal-overlay, .modal-window {
	display: flex;
}

.modal-overlay {
	animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-overlay .modal-window {
	transform: scale(0);
	animation: zoomIn .5s .8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-overlay.out {
	transform: scale(1);
	animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-overlay.out .modal-window {
	animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.re_B{
	margin-top: 18px;
}



